<app-alert [message]="error" *ngIf="error" (closeAlert)="closeError()"></app-alert><div class="text-center" *ngIf="isLoading">
  <app-loading-spinner></app-loading-spinner>
</div>
<div class="container" *ngIf="!isLoading">
  <div class="testBox">
    <h1 class="header-register">{{isRegisterMode ? 'Registration' : 'Login'}}</h1>
    <hr>
    <form [formGroup]="onLoginForm" *ngIf="!isRegisterMode" (ngSubmit)="onSubmit()">
      <div class="form-wrapper">
        <label for="email">Email</label>
        <input class="input-form" type="email" id="email" formControlName="email" placeholder="Email">
        <br *ngIf="onLoginForm.get('email').invalid && onLoginForm.get('email').touched"/>
        <span class="error-txt" *ngIf="onLoginForm.get('email').invalid && onLoginForm.get('email').touched">Invalid email</span>
        <br>
        <label for="password">Password</label>
        <input class="input-form" type="password" id="password" formControlName="password" placeholder="Password">
        <br *ngIf="onLoginForm.get('password').invalid && onLoginForm.get('password').touched"/>
        <span class="error-txt" *ngIf="onLoginForm.get('password').invalid && onLoginForm.get('password').touched">Password is required</span>
      </div>
      <div class="btn-submit">
        <button class="btn-register" [disabled]="onLoginForm.invalid">Login</button>
      </div>
    </form>
    <form [formGroup]="onRegistrationForm" *ngIf="isRegisterMode" (ngSubmit)="onSubmit()">
      <div class="form-wrapper">
        <label for="name">Name</label>
        <input class="input-form" type="text" id="name" formControlName="name" placeholder="Name">
        <br *ngIf="onRegistrationForm.get('name').invalid && onRegistrationForm.get('name').touched"/>
        <span class="error-txt" *ngIf="onRegistrationForm.get('name').invalid && onRegistrationForm.get('name').touched">Name is required</span>
        <br>
        <label for="email">Email</label>
        <input class="input-form" type="email" id="email" formControlName="email" placeholder="Email">
        <br *ngIf="onRegistrationForm.get('email').invalid && onRegistrationForm.get('email').touched"/>
        <span class="error-txt" *ngIf="onRegistrationForm.get('email').invalid && onRegistrationForm.get('email').touched">Invalid email</span>
        <br>
        <label for="password">Password</label>
        <input class="input-form" type="password" id="password" formControlName="password" placeholder="Password">
        <br *ngIf="onRegistrationForm.get('password').invalid && onRegistrationForm.get('password').touched"/>
        <span class="error-txt" *ngIf="onRegistrationForm.get('password').invalid && onRegistrationForm.get('password').touched">Password is required</span>
      </div>
      <div class="btn-submit">
        <button class="btn-register" [disabled]="onRegistrationForm.invalid">Register</button>
      </div>
    </form>
    <div class="button-change">
      <a href="javascript: void(0)"
         (click)="onChangeMode()">{{isRegisterMode ? 'Already have an account. I want to sign in.' : 'Do not have an account? Sign up here'}}</a>
    </div>
  </div>
</div>
