<div class="container">
  <div class="testBox">
    <h1 class="header-register">{{isRegisterMode ? 'Registration' : 'Login'}}</h1>
    <hr>
    <form [formGroup]="onLoginForm" *ngIf="!isRegisterMode" (ngSubmit)="onSubmit()">
      <div class="form-wrapper">
        <label for="email">Email</label>
        <input class="input-form" type="email" id="email" formControlName="email" placeholder="Email">
        <br>
        <label for="password">Password</label>
        <input class="input-form" type="password" id="password" formControlName="password" placeholder="Password">
      </div>
      <div class="btn-submit">
        <button class="btn-register" [disabled]="onLoginForm.invalid">Login</button>
      </div>
    </form>
    <form [formGroup]="onRegistrationForm" *ngIf="isRegisterMode" (ngSubmit)="onSubmit()">
      <div class="form-wrapper">
        <label for="name">Name</label>
        <input class="input-form" type="text" id="name" formControlName="name" placeholder="Name">
        <br>
        <label for="email">Email</label>
        <input class="input-form" type="email" id="email" formControlName="email" placeholder="Email">
        <br>
        <label for="password">Password</label>
        <input class="input-form" type="password" id="password" formControlName="password" placeholder="Password">
      </div>
      <div class="btn-submit">
        <button class="btn-register" [disabled]="onRegistrationForm.invalid">Register</button>
      </div>
    </form>
    <div class="button-change">
      <a href="javascript: void(0)"
         (click)="onChangeMode()">{{isRegisterMode ? 'Ya tengo cuenta. Quiero iniciar sesión' : 'No tienes cuenta? Registrate aquí'}}</a>
    </div>
  </div>
</div>
